.titulo {
    font-weight: 700;
    color: darkslategrey;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}

.sub-titulo {
    font-weight: 500;
    color:grey;
    margin-bottom: 2rem;

}

.btn-catalogo {
  border: 2px solid grey;     
  color: #333;                
  background-color: #f8f9fa;  
  transition: all 0.3s ease;  
}